<div class="user-access-container display-center full-screen">
  <div class="user-access-content display-column">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()" class="display-column-evenly content-fluid">
      <div class="display-column-evenly input-container form-field-container">
        <div class="input-w-80">
          <label>Usuario:</label>
        </div>
        <input class="input-w-80" type="text" [(ngModel)]="credentials.username" name="username" required />
      </div>
      <div class="display-column-evenly input-container form-field-container">
        <div class="input-w-80">
          <label>Contraseña:</label>
        </div>
        <input class="input-w-80" type="password" [(ngModel)]="credentials.password" name="password" required />
      </div>

      <button class="submit-button" type="submit">Entrar</button>
    </form>

    <p *ngIf="error" class="user-dontmatch">{{ error }}</p>

    <div class="login-to-register">
      <button type="button" (click)="goToRegister()" class="register-btn">
        ¿No tienes cuenta? Regístrate aquí
      </button>
    </div>

    <app-modal [show]="showModal"></app-modal>

  </div>
</div>