.books-list-container h2 {
    font-size: 3rem;
    margin: 2rem 0;
    color: #ffa500;
}

.books-list-container button {
    border: none;
    background: none;
    cursor: pointer;
    color: #ffa500;
    font-weight: 600;
}